*{
	padding: 0;
	margin: 0;
	font-family: "微软雅黑";
}
a{
	text-decoration: none;
}
a:hover{
	color:red;
}
.light{
	display: none;
	position: relative;
	top: 3px;
	left: 10px;
	width: 120px;
	height: 30px;
	font-size: 16px;
	font-weight: 500;
	float: left;
	color: red;
}
.logo{
	height: 100px;
	border-bottom: 3px solid orange;
}
.logo_1{
	position: relative;
	left: 200px;
	top: 10px;
	float: left;
}
.logo_2{
	position: absolute;
	left: 750px;
	top: 10px;
	width: 350px;
	height: 80px;
	font-size: 28px;
}
.logo_2_1{
	height: 60px;
	width: 100px;
	float: left;
	padding-top: 20px;
	padding-right: 20px;
}
.logo_2_2{
	padding-top: 20px;
	float: left;
	height: 60px;
	width: 100px;
	padding-left: 37px;
}
.logo_2_3{
	position: relative;
	top: 22px;
	width: 1px;
	height: 28px;
	background-color: #898989;
	border: 2px solid #898989;
	float: left;
}
.ter{
	height: 400px;
	border-bottom: 3px solid orange;
}
.register{
	width: 650px;
	height: 400px;
	font-size: 20px;
	border-right: 3px solid orange;
	float: left;
}
.move_1{
	position: relative;
	left: 200px;
	top: 70px;
	font-weight: 700;
}
.move_1 h3{
	position: relative;
	left: 65px;
	padding-bottom: 20px;
}
.register_1{
	width: 400px;
	height: 30px;
	padding-left: 20px;
}
.register_2{
	width: 400px;
	height: 30px;
	padding-top: 20px;
}
.register_3{
	padding-top: 25px;
}
.register_3 a{
	font-size: 16px;
}
.sub{
	width: 150px;
	height: 30px;
	background-color: orange;
	border: hidden;
	border-radius: 0.5em;
}
.login{
	width: 650px;
	height: 400px;
	float: left;
}
.move_2{
	position: absolute;
	left: 880px;
	top: 170px;
}
.login_1{
	padding: 8px 0;
	font-size: 16px;
}
.login_2{
	padding: 10px 0 8px;
}
.login_2_1{
	width: 220px;
	padding: 11px 3px 1px;
	border: 1px solid #696969;
	border-radius: 0.2em;
}
.login_2_2{
	height: 24px;
	width: 180px;
	position: relative;
	top: -7px;
	left: 1px;
	border: hidden;
}
.login_3{
	padding: 12px 0 4px;
}
.login_3_1{
	padding: 9px 3px 1px;
	width: 220px;
	border: 1px solid #696969;
	border-radius: 0.2em;
}
.login_3_2{
	height: 24px;
	width: 180px;
	position: relative;
	top: -7px;
	border: hidden;
}
.login_4{
	height: 40px;
}
.login_4_1{
	font-size: 12px;
	padding-top: 8px;
	float: left;
}
.login_4_1 a{
	position: relative;
	left: 75px;
	color: #FF0000;
}
.sub_login{
	font-size: 20px;
	width: 230px;
	height: 40px;
	background-color: orange;
	border: hidden;
	border-radius: 0.5em;
}
.login_5_1{
	font-size: 14px;
	padding-top: 8px;
	float: left;
}
.login_5_2 a{
	font-size: 14px;
	position: relative;
	top: 6px;
	color: #FF0000;
}