* {
	margin: 0;
	padding: 0;
}
header{
	background-color:#FFA500;
	color: black;
	height: 30px;
}
a,ul,li{
	text-decoration: none;
	list-style: none;
}
header a{
	color: black;
}
.guide a{
	color:dimgray;
}
.classify_2 li{
	float: left;
	width: 90px;
	padding: 1px 0;
}
.classify_2 a{
	color:dimgray;
}
#change{
	color: orange;
}
li:nth-child(1){
	width: 60px;
}
li:nth-child(2){
	width: 60px;
}
li:nth-child(3){
	width: 60px;
}
hr{
	border:0;
	background-color:#F5F5F5;
	height:3px;
}
body{
	font-family:"微软雅黑";
	background-color: #F5F5F5;
}
a:hover{
	color:red;
}
.move a{
	color:black;
}
.panel{
	position: relative;
	left: 70px;
	display:none;
	width: 200px;
	height: 20px;
	background-color: white;
	font-size: 16px;
}
.top_1{
	float: left;
	position: relative;
	left: 200px;
	top: 5px;
}
.top_2{
	position:absolute;
	width: 100px;
	left: 1050px;
	top: 5px;
}
.po{
	padding: 25px 0 0 0;
}
.guide{
	height: 80px;
	background-color: white;
}
.guide_1{
	float: left;
	position: relative;
	left: 200px;
	width: 250px;
}
.guide_2{
	width: 200px;
	height: 76px;
	color:dimgray;
	float: left;
	position: absolute;
	left: 490px;
	font-size: 24px;
}
.guide_3{
	float: left;
	position: absolute;
	left: 750px;
	top: 30px;
	min-width: 400px;
}
.guide_3_1{
	position: relative;
	top: 20px;
}
.guide_3_1_1{
	width: 300px;
	height: 35px;
	font-size: 16px;
	text-indent: 8px;
}
.guide_3_1_2{
	position: relative;
	top: 2px;
	border-radius: 0.5em;
	width: 60px;
	height: 40px;
	background-color: #FFA500;
	border:solid 1px #FFA500;
	font-size: 20px;
}
.classify{
	background-color: white;
	position: relative;
    top: 10px;
    left: 160px;
	width: 75%;
	height: 80px;
	min-width:1000px;
}
.classify_1{
    float: left;
    font-size: 24px;	
    position: relative;
    left: 70px;
    top: 27px;
}
.classify_2{
	height: 50px;
	width: 850px;
	position: relative;
	left: 150px;
	top: 20px;
	min-width: 600px;
}
.move{
	position: relative;
	left: 17px
}
.restaurant{
	background-color: white;
	position: relative;
    top: 25px;
    left: 160px;
	width: 75%;
	height: 800px;
	min-width:1000px;
}
.restaurant_1{
	float: left;
	position: relative;
    padding: 40px 18px 0 18px;
}
.restaurant_1_1{
	padding: 6px 0;
	font-size: 18px;
}
.restaurant_1_2{
	padding: 2px 0;
	font-size: 14px;
	color: orange;
}
.restaurant_1_3{
	padding: 2px 0;
	font-size: 14px;
}
.restaurant_1_4{
	margin: 4px 0;
}
.m{
	float: right;
}
.o{
	position: relative;
	left: 10px;
}
.v{
	position: relative;
	top:-4px;	
}
.line{
	width: 100%;
	height: 330px;
	border: solid 2px #F5F5F5;
}
.freedom{
	width: 100%;
	height: 1500px;
}
.white_content{  
    display: none;  
	position: absolute;  
	top: 25%;  
	left: 32%;  
	background:rgba(255,255,255,0.8)!important;
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	width: 400px;  
	height: 400px;  
	background-color: white;  
	z-index:201;  
} 
.black_overlay{ 
    display: none; 
    position: absolute;  
	top: 0%;  
	left: 0%; 
    width: 100%; 
    height:1000px; 
    background-color: black;
    z-index:200;  
	-moz-opacity: 0.8;
    opacity:0.8; 
    filter: alpha(opacity=80); 
}  
