* {
	margin: 0;
	padding: 0;
}
header{
	background-color:#FFA500;
	color: black;
	height: 30px;
}
a,ul,li{
	text-decoration: none;
	list-style: none;
}
header a{
	color: black;
}
.guide a{
	color:dimgray;
}
.classify_2 li{
	float: left;
	width: 90px;
	padding: 1px 0;
}
.classify_2 a{
	color:dimgray;
}
#change{
	color: orange;
}
li:nth-child(1){
	width: 60px;
}
li:nth-child(2){
	width: 60px;
}
li:nth-child(3){
	width: 60px;
}
hr{
	border:0;
	background-color:#F5F5F5;
	height:3px;
}
body{
	font-family:"微软雅黑";
	background-color: #F5F5F5;
	height: 1800px;
}
a:hover{
	color:red;
}
.move a{
	color:black;
}
.panel{
	position: relative;
	left: 70px;
	display:none;
	width: 200px;
	height: 20px;
	background-color: white;
	font-size: 16px;
}
.top_1{
	float: left;
	position: relative;
	left: 200px;
	top: 5px;
}
.top_2{
	float: right;
	position:relative;
	right: 200px;
	top: 5px;
}
.guide{
	height: 80px;
	background-color: white;
}
.guide_1{
	float: left;
	position: relative;
	left: 200px;
	width: 250px;
}
.guide_2{
	color:dimgray;
	float: left;
	position: relative;
	left: 240px;
	top: 30px;
	font-size: 24px;
}
.guide_3{
	float: right;
	position: relative;
	right: 200px;
}
.guide_3_1{
	position: relative;
	top: 20px;
}
.guide_3_1_1{
	width: 300px;
	height: 35px;
	font-size: 16px;
	text-indent: 8px;
}
.guide_3_1_2{
	position: relative;
	top: 2px;
	border-radius: 0.5em;
	width: 60px;
	height: 40px;
	background-color: #FFA500;
	border:solid 1px #FFA500;
	font-size: 20px;
}
.classify{
	background-color: white;
	position: relative;
    top: 10px;
    left: 160px;
	width: 75%;
	height: 80px;
}
.classify_1{
    float: left;
    font-size: 24px;	
    position: relative;
    left: 70px;
    top: 27px;
}
.classify_2{
	height: 80px;
	width: 800px;
	position: relative;
	left: 150px;
	top: 20px;
}
.move{
	position: relative;
	left: 17px
}
.restaurant{
	background-color: white;
	position: relative;
    top: 25px;
    left: 160px;
	width: 75%;
	height: 800px;
}
.restaurant_1{
	float: left;
	position: relative;
    padding: 40px 18px 0 18px;
}
.restaurant_1_1{
	padding: 6px 0;
	font-size: 18px;
}
.restaurant_1_2{
	padding: 2px 0;
	font-size: 14px;
	color: orange;
}
.restaurant_1_3{
	padding: 2px 0;
	font-size: 14px;
}
.restaurant_1_4{
	margin: 4px 0;
}
.m{
	float: right;
}
.o{
	position: relative;
	left: 10px;
}
.v{
	position: relative;
	top:-4px;	
}
.line{
	width: 100%;
	height: 330px;
	border: solid 2px #F5F5F5;
}
